<div class="row">
  <div class="span6 offset3">
  	<div class="well">
      <%= image_tag @pin.image %>
      <p>
        <%= @pin.description %>
      </p>
      <p>
         Posted by <%= @pin.user.name %>
      </p>
      <% if current_user == @pin.user %>

     <a href="comment_path"><i class="icon-comment"></i> Comment photo </a>
     <p><a href="#"><i class="icon-thumbs-up"></i>  </a>
     <a href="#"><i class="icon-thumbs-down"></i>  </a></p>
      <% end %>
      <%= link_to 'Back', pins_path %>
      <%= link_to 'Comment photo' %>
  
   </div>
  </div>
</div>

